In [17]:
import pandas as pd

df = pd.read_parquet("/Users/ivbarauna/repos/data-engineer-portfolio/API-ETL/apache-beam/awesome_data_ingestion/data/external/kaggle/ETHUSD_1705010819-00000-of-00001.parquet")
df

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date
0,ETH,USD,Ethereum/Dólar Americano,2689.39,2512,84.76,3.35,2611.93,2611.94,1705010796,2024-01-11 19:06:36