In [5]:
import pandas as pd

df = pd.read_parquet("/Users/ivsouza/repos/data-engineer-portfolio/API-ETL/apache-beam/awesome_data_ingestion/data/raw/USD-BRL_1705090584-00000-of-00001.parquet")
df

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date
0,USD,BRL,Dólar Americano/Real Brasileiro,4.8782,4.8311,-0.0126,-0.26,4.8569,4.8579,1705089959,2024-01-12 17:05:59